{% extends "base.html" %}

{% block content %}
  <h2>Buscar club</h2>
  <form method="GET" action="{{ url_for('buscar') }}">
    <div class="form-group">
      <label for="club">Nombre del club:</label>
      <input type="text" name="club" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>

<h3>Resultados:</h3>

{% if resultados is not none %}
    {% if resultados %}
        <ul>
        {% for r in resultados %}
            <li>{{ r.nombre }} - {{ r.ciudad }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p style="color: red;">No se encontraron clubes con ese nombre.</p>
    {% endif %}
{% endif %}
{% endblock %}
