{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-5">
      <div class="card">
        <div class="card-header">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          <form action="{{ url_for('login') }}" method="POST">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" name="usuario" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="contrasena" class="form-control" required>
            </div>
            
            <!-- reCAPTCHA -->
            <div class="g-recaptcha" data-sitekey="6Ld0EHIrAAAAAN2HGJ4HRrkKLJqLSOFr5j-Xag_c"></div>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>
            </form>
            

            <script src="https://www.google.com/recaptcha/api.js"></script>
            {% if error %}
                <div class="alert alert-danger mt-3">{{ error }}</div>
            {% endif %}

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
